@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: url('path/to/your/main-bg.jpg') no-repeat center/cover;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header h1 {
  font-family: 'Great Vibes', cursive, sans-serif;
  text-shadow: 2px 2px 4px rgba(85, 220, 254, 0.6);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: url('path/to/your/header-bg.jpg') no-repeat center/cover;
  background-color: rgba(15, 15, 15, 0.7);
  background-blend-mode: overlay;
  grid-column: 2 / span 10;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);

  /* 艺术字体 */
  font-family: 'Great Vibes', cursive, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  section {
    grid-column: 2 / span 10;
  padding: 1rem;
  background: url('path/to/your/section-bg.jpg') no-repeat center/cover;
  background-color: rgba(15, 15, 15, 0.7);
  background-blend-mode: overlay;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 10;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 4rem;
    display: inline;
    line-height: 1.5;
    border: 2px solid #fff;
  padding: 0.5rem 1rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }

  .left {
    grid-column: 2 / span 10;
  }

  /* @import url("https://use.typekit.net/jmk3xov.css"); */

  .quote-container {
    display: flex;
    align-items: center; /* 让文字和 GIF 垂直居中 */
    justify-content: center; /* 居中对齐 */
    gap:1px; /* 调整间距 */
    position: relative; /* 确保内部元素可以调整位置 */
}

.menu-gif {
  width: 600px;
  height: auto;
}

button {
  background-color: #000000;
  background: url('game/Others/button.png') no-repeat center/cover;
  color: rgb(248, 248, 248);
  padding: 50px 80px;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 180px; /* 让按钮往下移动 */
}

button:hover {
  background-color: #333333;
  transform: scale(1.1);
}